extends layout
block content
  div.jumbotron
    h1 Cadeau.LY /
      img.img-rounded(src="/images/libya1.png")
    p   &nbsp&nbsp&nbspTry the joy of 
      b giving.
  table.table
    thead
      tr
        th Title
        th listing
        th City
        th Date-Added
        th Photo
    tbody
      tr
        td iphone 5
        td Electronics
        td Tripoli
        td 14-04-2014
        td 
          img.img-circle(style="width:50px;height:50px", src="/images/download.jpeg")
      tr
        td iphone 5
        td Electronics
        td Tripoli
        td 14-04-2014
        td 
          img.img-circle(style="width:50px;height:50px", src="/images/download.jpeg")
      tr
        td iphone 5
        td Electronics
        td Tripoli
        td 14-04-2014
        td 
          img.img-circle(style="width:50px;height:50px", src="/images/download.jpeg")
  
  include inc/scripts



       //-   span.caret
              //- div.dropdown-menu.dropdownmenu(style='padding:17px;')
              //-   form(role='form', id='formLogin')
              //-     label Login
              //-     div.form-group
              //-       input.form-control(name="username", id="username", type="text", placeholder="Username", pattern="^[a-z,A-Z,0-9,_]{6,15}$", data-valid-min="6", title="Enter your username", required)
              //-     div.form-group
              //-       input.form-control(name="password", id="password", type="password", placeholder="Password", title="Enter your password", required)
              //-     button.btn.btn-default(type="submit") Submit
              //-     br
              //-   div.panel.panel-default
              //-     div.panel-heading
              //-       h6.div.panel-title
              //-         a(data-toggle='collapse', href='#formRegister')  
              //-           small New User? Sign-up..
              //-     div.panel-collapse.collapse(id='formRegister')
              //-       div.panel-body
              //-         form(role='form', id='formRegister')
              //-           label Register
              //-           div.form-group
              //-             input.form-control(id='nemail', type='email', placeholder='Email')
              //-           button.btn.btn-default(type="submit") Register
