extends layout
block content
  div.row-fluid
    div.col-lg-6.col-lg-offset-3(id='loginForm')
      legend Login to Cadeau.LY
      table.table.table-bordered
        tr
          td
            div.panel.panel-info
              div.panel-heading
                h4.div.panel-title Login with Facebook
              div.panel-body
                img.img(src="/images/facebook.jpeg")
          td(width='50%')
            div.panel.panel-info
              div.panel-heading
                h4.div.panel-title Login
              div.panel-body
                div.form-group
                  input.form-control(name="username", id="username", type="text", placeholder="Username", pattern="^[a-z,A-Z,0-9,_]{6,15}$", data-valid-min="6", title="Enter your username", required)
                div.form-group
                  input.form-control(name="password", id="password", type="password", placeholder="Password", title="Enter your password", required)
                button.btn.btn-default(type="submit") Submit
        tr
          td(colspan='2') 
              a(href="#",id='showRegister') New user? Sign-up
    div.col-lg-6.col-lg-offset-3.hide(id='registerForm')
      legend Register to Cadeau.LY                  
      table.table.table-bordered
        tr
          td
            div.panel.panel-warning
              div.panel-heading
                h4.div.panel-title Register with Facebook
              div.panel-body
                img.img(src="/images/facebook.jpeg")
                
          td(width='50%')
            div.panel.panel-warning
              div.panel-heading
                h4.div.panel-title Register
              div.panel-body
                form(role='form', id='formRegister')
                  label Register
                  div.form-group
                    input.form-control(id='nemail', type='email', placeholder='Email')
                  button.btn.btn-default(type="submit") Register               
        tr
          td(colspan='2') 
              a(href="#",id='showLogin') Already a user? Login..

  
  
  include inc/scripts




              //- div.dropdown-menu.dropdownmenu(style='padding:17px;')
              //-   form(role='form', id='formLogin')
              //-     label Login
              //-     div.form-group
              //-       input.form-control(name="username", id="username", type="text", placeholder="Username", pattern="^[a-z,A-Z,0-9,_]{6,15}$", data-valid-min="6", title="Enter your username", required)
              //-     div.form-group
              //-       input.form-control(name="password", id="password", type="password", placeholder="Password", title="Enter your password", required)
              //-     button.btn.btn-default(type="submit") Submit
              //-     br
                //- div.panel.panel-default
                //-   div.panel-heading
                //-     h6.div.panel-title
                //-       a(data-toggle='collapse', href='#formRegister')  
                //-         small New User? Sign-up..
                //-   div.panel-collapse.collapse(id='formRegister')
                //-     div.panel-body
                //-       form(role='form', id='formRegister')
                //-         label Register
                //-         div.form-group
                //-           input.form-control(id='nemail', type='email', placeholder='Email')
                //-         button.btn.btn-default(type="submit") Register
