extends layout
block content
  div(id='map-continents')
    ul.continents
      li.c1
        a(href='/world/AF') Africa (100)
      li.c2
        a(href='/world/AS') Asia 
      li.c3
        a(href='/world/OC') Oceania 
      li.c4
        a(href='/worl d/EU') Europe 
      li.c5
        a(href='/world/NA') North America 
      li.c6
        a(href='/world/SA') South America 
  
  include inc/scripts
  